@page "/failing-example"

<h1>Failing Example</h1>
<p>This fails because IConsoleMessageService can not be injected in component-lib\Components\MyButton.razor</p>
<p>See the error in the browsers console.</p>
<MyButton></MyButton>
